@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
    display: block;
  }

.product-image{
    display: block;
    cursor: pointer;

}
.product{
    margin: auto;
    width: 100%;
    max-width : 540px
}
.product .selected {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border : 4px grey
}

.product .imgContainer {
    width: 100%;
    margin : auto;
    display: flex;
    justify-content : center;
    flex-wrap: wrap;
    padding: 20px 0 0 0
}
.product .imgContainer img {
    width: 100px;
    height: 100px ;
    margin : 2%

}

